
.intro-section, .review-section, .features-section, .support-section, .usibility-section, .price-section{
    background-color: #fdfdfe;
    padding: 2rem 6rem;
    border-bottom:0.06rem solid #d9d4d1 ;
}
.price-section{
    border-bottom:0rem ;
}
.logo {  
    display: none;
    color: #181718;
}
.graph-area{
    background: #fdfdfe;
    padding: 3rem;
    margin-top: -22.45rem;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 23rem;  
    transition: height .5s;
    z-index: 1;
}

.graph-height{
    max-height: 20rem;
    transition: height .9s;
    box-shadow: 1rem 1rem 2.5rem 0 rgb(63 20 115 / 5%);
    z-index: 9;
}
.left-chart-box{
    width: 75%;
    display: block;
    position: relative;
}
.left-chart-box::before{
    position: absolute;
    content: "";
    height: 100%;
    border-right: 0.05rem solid #d9d4d1;
    right: -2.125rem;
}
.right-chart-box{
    width: 20%;
    display: block;
    height: 10rem;
}
.graph-chart{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.graph-wrap{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.support-heading {
    margin-bottom: 1rem;
    font-family: 'Montserrat';
    font-size: 1rem;
}
.table-wrap{
    height: 11rem;
    overflow: auto;
    display: block;
    width: 100%;
}
  
    .support-table thead {
        /* box-shadow: 1rem 1rem 2.5rem 0 rgb(63 20 115 / 5%); */
        /* display: block; */
        border: 0.06rem solid #d9d4d1;
    }
    .support-table thead {
      background-color: #fdfdfe;
    }
    .support-table thead td:first-child{
        background: linear-gradient(110deg, rgb(63, 20, 115) 0%, 25%, rgb(175 59 116) 50%, 75%, rgb(219 75 84) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        font-size: 1.5rem;
    }
    .support-table thead td:last-child{
        font-weight: 600;
        font-size: 1.5rem;
        color: #795b9d;
    }
    table.support-table tbody tr:nth-child(even){
        background-color: #F9F8FB;
    }
    table.support-table td {
        padding: 0.5rem 1.5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    table.support-table td:first-child{
       border-right: 0.06rem solid #bdbac1;
    }
    .right-chart-box .video-wrapper {
        height: 15rem;
        box-shadow: none;
        border: 0;
        border-radius: 0.25rem;
    }

    .compare-data {
        padding: 0.75rem 1rem;
        box-shadow: -0.15rem 0.5rem 2.5rem 0 rgb(63 20 115 / 3%);
        border-radius: 0.25rem;
        background-color: #fdfdfe;
    }
/* tab create [round] */
.tab-area-wrap{
    position: fixed;
    top: 80%;
    left: -0.25rem;
    border-radius: 0 123rem 123rem 0;
    z-index: 9;
    overflow: hidden;
}
.tab-area-wrap a{
    font-weight: 500;
    color: #BDBAC1;
}
.tab-item.active-vstab{
    /* position: relative; */
}
.active-vstab a{
    color: #181718;
    transition: 0.3s all ease;
    padding-left: 0.25rem;
}
.active-line {
    position: absolute;
    content: '';
    height: 0.125rem;
    right: -0.5rem;
    background: linear-gradient(323deg, rgba(121,91,157,1) 0%, rgba(121,91,157,0.9136029411764706) 34%, rgba(121,91,157,0.7847514005602241) 100%);
    transition: .5s all ease-in-out;
    z-index: -1;
    width: 5rem;
}
.icon-part {
    background: #795b9d;
    box-shadow: rgb(121 91 157 / 50%) -0.25rem 0.625rem 1.5rem 0;
    color: #f9f8fb;
    border-radius: 0 123rem 123rem 0;
    height: 5.5rem;
    width: 3.125rem;
    text-align: left;
    line-height: 5.35rem;
    padding-left: 0.25rem;
    z-index: 9;
}
.tab-item-wrap {
    margin-left: -5rem;
    border: 0.35rem solid #7a5c9e33;
    background-clip: padding-box !important;
    border-radius: 0 123rem 123rem 0;
    background: linear-gradient(-110deg, rgba(253,253,254,1) 40%, rgba(253,253,254,0.97) 96%, rgba(253,253,254,1) 100%);
    padding: 5rem 3rem 5rem 2rem;
    transition: .4s all ease-in-out;
    position: relative;
}
div#vs-reviews, div#vs-usibility {
    margin-left: 1.5rem;
}
div#vs-introduction, div#vs-features {
    margin-left: 2.9rem;
}
.tab-item {
    padding: 0.277rem 0;
    font-family: 'Montserrat', sans-serif;
    /* position: absolute; */
}
.hide-side-nav{
    transform: translate(-100%);
}


/* community page */
.help-widget-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    gap: 1.5rem;
}
.help-vendor{
    border: 0.125rem solid transparent;
    transition: 0.3s all ease;
    border-radius: 0.25rem;
    background: #fdfdfe;
}
.help-vendor:hover{
    box-shadow: 0rem 1rem 2.5rem rgb(63 20 115 / 7%);
}
a .help-vendor:hover h5{
    color: #3f1473;
}
.help-vendor i {
    color: #795b9d;
}
.post-card-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.5rem;
}
.profile-card{
    background: #fdfdfe;
    border-radius: 0.25rem;
    text-align: center;
    position: relative;
}
.super-card{
    box-shadow: 0rem 1rem 2.5rem rgb(63 20 115 / 7%);
}
 .super-con {
    display: inline-flex;
    background: linear-gradient(110deg, rgb(63, 20, 115) 0%, 25%, rgb(175 59 116) 50%, 75%, rgb(219 75 84) 100%);
    color: #f9f8fb;
    padding: 0.125rem 1rem;
    line-height: 1.4;
    border-radius: 0.25rem;
    position: absolute;
    top: 0.5rem;
    white-space: nowrap;
    right: 0.5rem;
    font-size: 0.875rem;
}
.profile-image img{
    border-radius: 50%;
    margin-bottom: 1.5rem;
}
.profile-image{
    position: relative;
}
.profile-image::after {
    position: absolute;
    content: "";
    background: #c0424a;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    top: 6%;
    left: 58%;
    border: 0.25rem solid #fdfdfe;
}
.contribution-table-wrap {
    overflow-x: scroll;
}
.contribution-table-wrap::-webkit-scrollbar{
    height: 0;
}
table.contribution-table{
    border-collapse: initial;
    border-spacing: 0 0.5rem;
}
table.contribution-table tr {
    background: #fdfdfe;
    position: relative;
}
table.contribution-table tr.highlight-row{
    box-shadow: 0.06rem 0.5rem 0.625rem 0.06rem rgb(0 0 0 / 7%);
    -webkit-box-shadow: 0.06rem 0.5rem 0.625rem 0.06rem rgb(0 0 0 / 7%); 
}
table.contribution-table tr:hover{
    box-shadow: 0.06rem 0.5rem 0.625rem 0.06rem rgb(0 0 0 / 7%);
    -webkit-box-shadow: 0.06rem 0.5rem 0.625rem 0.06rem rgb(0 0 0 / 7%); 
}
table.contribution-table tr td {
    padding: 1rem;
}
td:has(.profile-image) {
    width: 10%;
}

@media screen and (max-width: 992px) {
    .right-chart-box, .left-chart-box {
        /* width: 100%; */
    }
  }
  .modal {
    background: #00000075;
}





 
